* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(206, 205, 205, 0.438);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.header-container {
  background: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 10px 12px;
  border-radius: 20px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}
.header-container a {
  text-decoration: none;
}
.header-container h2 {
  color: #014d36;
  font-weight: bold;
  transition: 0.3s ease;
}
.header-container h2:hover{
  color: #00815a;
  transform: scale(1.05);
}
button#back {
  color: white;
  font-size: 24px;
  background: #014d36;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  transition: 0.3s ease;
  position: absolute;
  left: 10px;
  top: 10px;
}
button#back:hover {
  background: #00815a;
  transform: scale(1.1);
}
.choices {
    margin-bottom: 30px;
}
.choices button {
    font-size: 3.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: 0.3s ease;
    min-width: 100px;
}
.choices button:hover {
    transform: scale(1.25);
}
#playerDisplay, #computerDisplay {
    font-size: 1.5rem;
}
#resultDisplay {
    font-size: 1.5rem;
    margin: 30px 0;
}
.scoreDisplay {
    font-size: 1.5rem;
}
.greenText, #playerScoreDisplay {
    color: rgb(154, 255, 2);
}
.redText, #computerScoreDisplay {
    color: rgb(255, 46, 46);
}