* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(206, 205, 205, 0.438);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.header-container {
  background: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 10px 12px;
  border-radius: 20px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}
.header-container a {
  text-decoration: none;
}
.header-container h2 {
  color: #014d36;
  font-weight: bold;
  transition: 0.3s ease;
}
.header-container h2:hover{
  color: #00815a;
  transform: scale(1.05);
}
button#back {
  color: white;
  font-size: 24px;
  background: #014d36;
  cursor: pointer;
  border-radius: 10px;
  width: 3rem;
  padding: 10px;
  margin: 10px;
  transition: 0.3s ease;
  position: absolute;
  left: 10px;
  top: 10px;
}
button#back:hover {
  background: #00815a;
  transform: scale(1.1);
}
textarea {
    margin: 30px;
    width: 300px;
    height: 100px;
    padding: 10px;
    color: black;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    resize: none;
    background-color: white;
}
button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    background: #014d36;;
    cursor: pointer;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover {
    background-color: #00a070;
}